.code-block {
	line-height: 1.2rem;
}

.t-comment {
	color: #999;
}

.t-keyword {
	color: #F9F;
}

.t-string {
	color: #FF7;
}

.t-other {
	color: #FAFAFA;
}

.t-variable {
	color: #AFF;
}

.t-type {
	color: #AFA;
}

.t-pair {
	color: #EEE;
}

.t-invalid {
	color: #F00;
}
